.team-matches-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #0f172a);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #0f172a);
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #ffffff33);
}

.RR {
  background-image: linear-gradient(to bottom, #da237b, #0f172a);
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}

.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
}

.team-matches-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .team-matches-content-container {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.team-banner {
  width: 100%;
  margin-bottom: 20px;
}

.latest-match-title {
  align-self: flex-start;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Bree Serif';
  font-weight: 500;
  margin-bottom: 10px;
}

.recent-matches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  padding-left: 0;
}
